<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="Test">
        <classes>
            <class name="GoRestTests.Posts.CreatePostValidTests"/>
            <class name="GoRestTests.Posts.CreatePostInvalidTests"/>
            <class name="GoRestTests.Users.CreateUserInvalidTests"/>
            <class name="GoRestTests.Users.CreateUserValidTests"/>
            <class name="GoRestTests.Comments.CreateCommentInvalidTests"/>
            <class name="GoRestTests.Comments.CreateCommentValidTests"/>
            <class name="GoRestTests.Todo.CreateTodoValidTests"/>
            <class name="GoRestTests.Todo.CreateTodoInvalidTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
